/* Estilos para el Header */
.header-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
}

/* Estilo para el contenido principal */
.main-content {
  padding-top: 70px; /* Ajusta según la altura de tu header */
}